html{
  scroll-behavior: smooth;
}

[data-reveal] {
    transform: translateY(50px);
    opacity: 0;
    transition: 0.7s all ease var(--delay) ;
  }
  [data-reveal="left"] {
    transform: translate(-50px, 0);
  }
  [data-reveal="right"] {
    transform: translate(50px, 0);
  }
  [data-reveal].revealed {
    transform: translate(0, 0);
    opacity: 1;
  }