@font-face {
    font-family: 'Tajwal light';
    src: url('../fonts/Tajawal-Light.ttf');
}
@font-face {
    font-family: 'Tajwal medium';
    src: url('../fonts/Tajawal-Medium.woff');
}
@font-face {
    font-family: 'Segoe';
    src: url('../fonts/segoesc.ttf');
}