@font-face {
  font-family: "Tajawal light";
  src: url("../fonts/Tajawal-Light.eot");
  src: url("../fonts/Tajawal-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Tajawal-Light.woff2") format("woff2"), url("../fonts/Tajawal-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Tajawal medium";
  src: url("../fonts/Tajawal-Medium.eot");
  src: url("../fonts/Tajawal-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Tajawal-Medium.woff2") format("woff2"), url("../fonts/Tajawal-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Segoe";
  src: url("../fonts/segoesc.ttf");
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* N A V    B A R */
.bg-header {
  box-shadow: 0px 5px 10px 0px #aaa;
  background-image: radial-gradient(circle, #dec3c4, #e0cbcc, #e2d4d4, #e4dcdd, #e6e5e5);
  opacity: 0.9;
}

.navbar input[type=checkbox],
.navbar .hamburger-lines {
  display: none;
}

.navbar {
  position: fixed;
  width: 100%;
  color: #fff;
  z-index: 100;
  font-family: "Tajawal medium";
  transition: all 0.2s ease-in-out;
}
.navbar .container {
  max-width: 1200px;
  width: 90%;
  margin: auto;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  height: 64px;
  align-items: center;
}

.menu-items {
  order: 2;
  display: flex;
  -moz-column-gap: 3rem;
       column-gap: 3rem;
  padding: 5rem;
}

.logo {
  order: 1;
  width: 100px;
}

.menu-items li {
  list-style: none;
  margin-left: 1.5rem;
  font-size: 1.3rem;
}

.navbar a {
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s ease-in-out;
}

.navbar a:hover {
  color: #000;
}

.arabic .menu-items {
  direction: rtl;
}

@media (max-width: 768px) {
  .navbar {
    opacity: 0.95;
  }
  .navbar-container input[type=checkbox],
  .navbar-container .hamburger-lines {
    display: block;
  }
  .navbar-container {
    display: block;
    position: relative;
    height: 64px;
  }
  .navbar-container input[type=checkbox] {
    position: absolute;
    display: block;
    height: 32px;
    width: 30px;
    top: 20px;
    left: 20px;
    z-index: 5;
    opacity: 0;
    cursor: pointer;
  }
  .navbar-container .hamburger-lines {
    display: block;
    height: 28px;
    width: 35px;
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .navbar-container .hamburger-lines .line {
    display: block;
    height: 4px;
    width: 100%;
    border-radius: 10px;
    background: #333;
  }
  .navbar-container .hamburger-lines .line1 {
    transform-origin: 0% 0%;
    transition: transform 0.3s ease-in-out;
  }
  .navbar-container .hamburger-lines .line2 {
    transition: transform 0.2s ease-in-out;
  }
  .navbar-container .hamburger-lines .line3 {
    transform-origin: 0% 100%;
    transition: transform 0.3s ease-in-out;
  }
  .navbar .menu-items {
    padding-top: 100px;
    background: #fff;
    height: 100vh;
    max-width: 300px;
    transform: translate(-150%);
    display: flex;
    flex-direction: column;
    margin-left: -40px;
    padding-left: 40px;
    transition: transform 0.5s ease-in-out;
    overflow: hidden;
  }
  .navbar .menu-items li {
    margin-bottom: 1.8rem;
    font-size: 1.1rem;
    font-weight: 500;
  }
  .logo {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 2.5rem;
  }
  .navbar-container input[type=checkbox]:checked ~ .menu-items {
    transform: translateX(0);
  }
  .navbar-container input[type=checkbox]:checked ~ .hamburger-lines .line1 {
    transform: rotate(45deg);
  }
  .navbar-container input[type=checkbox]:checked ~ .hamburger-lines .line2 {
    transform: scaleY(0);
  }
  .navbar-container input[type=checkbox]:checked ~ .hamburger-lines .line3 {
    transform: rotate(-45deg);
  }
}
.lang {
  margin-left: 4rem;
}
.lang a.active {
  pointer-events: none;
  color: #000;
}

@media screen and (max-width: 767px) {
  .logo {
    width: 70px;
  }
  .navbar .menu-items li a, .navbar .menu-items li {
    color: #4d4c4c;
  }
  .navbar .menu-items li a:hover {
    color: #000;
  }
  .arabic .navbar .menu-items {
    align-items: center;
  }
}
@media (max-width: 500px) {
  .navbar-container input[type=checkbox]:checked ~ .logo {
    display: none;
  }
}
html {
  scroll-behavior: smooth;
}

[data-reveal] {
  transform: translateY(50px);
  opacity: 0;
  transition: 0.7s all ease var(--delay);
}

[data-reveal=left] {
  transform: translate(-50px, 0);
}

[data-reveal=right] {
  transform: translate(50px, 0);
}

[data-reveal].revealed {
  transform: translate(0, 0);
  opacity: 1;
}

body {
  background-color: #e6e5e5;
  overflow-x: hidden;
}

/* L O A D I N G   P A G E */
.loading {
  width: 100%;
  height: 100vh;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-color: #e6e5e5;
  z-index: 999;
}
.loading.loaded {
  opacity: 0;
  transition: opacity 0.7s ease-in-out;
}
.loading svg,
.loading .loading_before img {
  width: 60vw;
}
.loading svg .svg-elem-1 {
  fill: transparent;
  transition: fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 0.8s;
}
.loading svg.active .svg-elem-1 {
  fill: rgb(0, 0, 0);
}
.loading svg .svg-elem-2 {
  fill: transparent;
  transition: fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 0.9s;
}
.loading svg.active .svg-elem-2 {
  fill: rgb(38, 83, 164);
}
.loading svg .svg-elem-3 {
  fill: transparent;
  transition: fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1s;
}
.loading svg.active .svg-elem-3 {
  fill: rgb(38, 83, 164);
}
.loading svg .svg-elem-4 {
  fill: transparent;
  transition: fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.1s;
}
.loading svg.active .svg-elem-4 {
  fill: rgb(38, 83, 164);
}
.loading svg .svg-elem-5 {
  fill: transparent;
  transition: fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.2s;
}
.loading svg.active .svg-elem-5 {
  fill: rgb(38, 83, 164);
}
.loading svg .svg-elem-6 {
  fill: transparent;
  transition: fill 0.4s cubic-bezier(0.47, 0, 0.745, 0.715) 1.6s, transform 0.4s 1.6s;
  transform: rotate(45deg);
  transform-origin: 50% 50%;
}
.loading svg.active .svg-elem-6 {
  fill: rgb(38, 83, 164);
  transform: rotate(0deg);
}
.loading svg .svg-elem-7 {
  fill: transparent;
  transition: fill 0.4s cubic-bezier(0.47, 0, 0.745, 0.715) 1.7s, transform 0.4s 1.7s;
  transform: rotate(45deg);
  transform-origin: 50% 50%;
}
.loading svg.active .svg-elem-7 {
  fill: rgb(38, 83, 164);
  transform: rotate(0deg);
}
.loading svg .svg-elem-8 {
  fill: transparent;
  transition: fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.6s, transform 0.7s ease-in-out 1.6s;
  transform-origin: 50% 50%;
  transform: rotate(25deg) translate(-67px, -163px);
}
.loading svg.active .svg-elem-8 {
  fill: rgb(38, 83, 164);
  transform: rotate(0deg) translate(0px, 0px);
}
.loading svg .svg-elem-9 {
  fill: transparent;
  transition: fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.7s, transform 0.7s ease-in-out 1.7s;
  transform-origin: 50% 50%;
  transform: rotate(-3deg) translate(1px, 25px);
}
.loading svg.active .svg-elem-9 {
  fill: rgb(38, 83, 164);
  transform: rotate(0deg) translate(0px, 0px);
}
.loading svg.active {
  transition: transform 0.7s ease-in-out 2.3s;
  transform: translateY(120px);
}
.loading .loading_before {
  position: absolute;
  opacity: 0;
}
.loading .loading_before.active {
  opacity: 1;
  transition: opacity 0.7s ease-in-out 2.4s;
}

/*=============== SCROLL BAR ===============*/
::-webkit-scrollbar {
  width: 0.6rem;
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
  background-color: hsl(207, 4%, 75%);
}

::-webkit-scrollbar-thumb {
  background-color: hsl(207, 4%, 65%);
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
}

::-webkit-scrollbar-thumb:hover {
  background-color: hsl(207, 4%, 55%);
}

/* H E R O    S E C T I O N */
.hero .hero-container {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  overflow: hidden;
}
.hero .hero-container .hero-one,
.hero .hero-container .hero-two {
  background-size: cover;
  grid-row: 1/2;
}
.hero .hero-container .hero-one {
  width: 100%;
  height: 100%;
  background-image: url("../images/hero_one.jpg");
  grid-column: 1/4;
  transition: 1s all;
}
.hero .hero-container .hero-two {
  position: relative;
  width: 100%;
  height: 100%;
  background-image: url("../images/hero_two.png");
  grid-column: 3/-1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.hero .hero-container .hero-two .row-one {
  position: absolute;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(6, 1fr);
}
.hero .hero-container .hero-two .row-one .col-one {
  display: flex;
  flex-direction: column-reverse;
  grid-row: 2/3;
  grid-column: 2/3;
}
.hero .hero-container .hero-two .row-one .col-one img:nth-child(1) {
  width: 150px;
}
.hero .hero-container .hero-two .row-one .col-one img:nth-child(2) {
  width: 70px;
  align-self: end;
}
.hero .hero-container .hero-two .row-one .col-two {
  grid-column: 9;
  grid-row: 2;
}
.hero .hero-container .hero-two .row-one .col-two img {
  width: 180px;
}
.hero .hero-container .hero-two .row-three {
  position: absolute;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(6, 1fr);
}
.hero .hero-container .hero-two .row-three .col-one {
  display: flex;
  flex-direction: column-reverse;
  grid-row: 6;
  grid-column: 4;
}
.hero .hero-container .hero-two .row-three .col-one img {
  width: 200px;
}
.hero .hero-container .hero-two .row-three .col-two {
  display: flex;
  grid-column: 9;
  grid-row: 6;
}
.hero .hero-container .hero-two .row-three .col-two img:nth-child(1) {
  width: 80px;
  height: 80px;
  align-self: flex-end;
}
.hero .hero-container .hero-two .row-three .col-two img:nth-child(2) {
  width: 180px;
}
.hero .hero-container .hero-two .row-two {
  margin-left: 5vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hero .hero-container .hero-two .row-two h1 {
  font-size: 2.3rem;
  font-family: "Segoe";
  font-weight: bold;
  color: #8f181f;
}
.hero .hero-container .hero-two .row-two p {
  font-family: "Tajawal medium";
  font-size: 1.5rem;
  color: #fff;
  max-width: 500px;
  text-align: center;
}
.hero .hero-container .hero-two .row-two button {
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  background-color: #2d4799;
  color: #fff;
  padding: 0.5rem 1rem;
  border: none;
  margin-top: 1rem;
  cursor: pointer;
}

.about {
  padding: 10rem;
  position: relative;
}
.about h1 {
  font-family: "Segoe";
  font-size: 3rem;
  font-weight: bold;
  color: #8f181f;
  text-align: center;
}
.about .about_content {
  display: flex;
  flex-direction: row !important;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 2rem;
       column-gap: 2rem;
}
.about .about_image {
  width: 400px;
  margin-top: 4rem;
  margin-bottom: 3rem;
}
.about p {
  font-family: "Tajawal light";
  font-size: 1.8rem;
  color: #6f3f00;
  width: 500px;
  margin-top: 3rem;
}
.about button {
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  background-color: #2d4799;
  color: #fff;
  padding: 0.5rem 1rem;
  border: none;
  margin-top: 1rem;
  cursor: pointer;
}
.about::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -200px;
  width: 100%;
  height: 180px;
  background-image: url("../images/line.png");
  background-size: cover;
}
.about .about-before {
  position: absolute;
  left: 0;
  bottom: -200px;
  width: 200px;
  height: 450px;
  background-size: cover;
  z-index: 2;
}

.brands {
  padding: 10rem;
  margin-top: 5rem;
  position: relative;
  overflow-x: hidden;
}
.brands h1 {
  font-family: "Segoe";
  font-size: 3rem;
  font-weight: bold;
  color: #8f181f;
  text-align: center;
}
.brands .brands_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 3rem;
  margin-top: 5rem;
}
.brands .brand_image {
  width: 300px;
  height: auto;
}
.brands .brands-after {
  position: absolute;
  right: 0;
  top: 50%;
  width: 200px;
  height: 350px;
  background-size: cover;
}

.contact {
  padding: 10rem 7rem 2rem;
  background-image: radial-gradient(circle, #dec3c4, #e0cbcc, #e2d4d4, #e4dcdd, #e6e5e5);
}
.contact .header h1 {
  font-family: "Segoe";
  font-size: 3rem;
  font-weight: bold;
  color: #8f181f;
  text-align: center;
}
.contact .contact_container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 2rem;
  margin-top: 4rem;
  font-family: "Tajawal medium";
}
.contact .contact_form-header {
  text-align: center;
}
.contact .contact_form {
  position: relative;
  display: grid;
  row-gap: 3rem;
}
.contact .contact_form-item {
  height: 4rem;
  display: flex;
  flex-direction: column;
}
.contact .contact_form-item.area {
  height: 13rem;
}
.contact .contact_form-tag {
  margin-bottom: 0.5rem;
}
.contact textarea {
  resize: none;
}
.contact .contact_form-input {
  height: 100%;
  width: 100%;
  padding: 1.5rem;
  border: 2px solid #ccc;
  border-radius: 10px;
}
.contact .contact_button {
  width: 150px;
  padding: 0.5rem;
  margin-top: 2rem;
  border: none;
  outline: none;
  background-color: #2d4799;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
  letter-spacing: 2px;
}
.contact .contact_links {
  display: flex;
  flex-direction: column;
  row-gap: 5rem;
  justify-content: center;
  align-items: center;
}
.contact .links {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3rem;
  margin-left: 3rem;
}
.contact .links h4 {
  font-size: 0.8rem;
  white-space: nowrap;
  color: #2b2b2b;
}
.contact .link-item {
  display: flex;
  align-items: center;
  -moz-column-gap: 0.3rem;
       column-gap: 0.3rem;
}
.contact .link-item a {
  text-decoration: none;
  display: flex;
  align-items: center;
  -moz-column-gap: 0.3rem;
       column-gap: 0.3rem;
  color: #000;
}
.contact .link_image {
  width: 20px;
}

.arabic .row-two h1 {
  font-size: 3rem;
  font-family: "Tajawal medium";
}

.arabic :is(h1, h2, h3, h4, button, a) {
  font-family: "Tajawal medium" !important;
}

.arabic p {
  font-family: "Tajawal light";
  text-align: justify;
}

.arabic .links {
  margin-left: 0;
  margin-right: 5rem;
}

@media screen and (max-width: 1200px) {
  .menu-items {
    -moz-column-gap: 1rem;
         column-gap: 1rem;
    padding: 2vw;
  }
  .hero .hero-container .hero-two .row-two h1 {
    font-size: 3.5vw;
  }
  .row-three .col-one {
    grid-column: 7 !important;
  }
  .row-three .col-one img {
    width: 20vw !important;
  }
  .hero .hero-container {
    grid-template-columns: repeat(6, 1fr);
  }
}
@media screen and (max-width: 991px) {
  .menu-items li {
    font-size: 2.3vw;
  }
  .menu-items {
    -moz-column-gap: 0.25rem;
         column-gap: 0.25rem;
    padding: 1rem;
  }
  .hero .hero-container .hero-two .row-two p {
    font-size: 1.2rem;
  }
  .hero .hero-container .hero-two .row-one .col-two img,
  .hero .hero-container .hero-two .row-three .col-two img:nth-child(2) {
    width: 15vw;
  }
  .hero .hero-container .hero-two .row-one .col-one {
    grid-column: 4;
  }
  .hero .hero-container .hero-two .row-three .col-one {
    grid-column: 8 !important;
  }
  .about .about_image {
    width: 35vw;
  }
  .about p {
    width: 50vw;
  }
  .about .about-before {
    width: 25vw;
    height: 55vw;
    bottom: -260px;
  }
  .about::after {
    height: 125px;
  }
  .brands .brands-after {
    top: 55%;
    width: 150px;
    height: 270px;
  }
  .contact {
    padding: 3rem 3rem 2rem;
  }
  .links_logo {
    width: 15vw;
  }
  .links_logo img {
    width: 20vw;
  }
  .contact .links {
    grid-template-columns: 1fr;
  }
}
@media screen and (max-width: 767px) {
  .hero .hero-container .hero-one {
    grid-column: 1/5;
  }
  .hero .hero-container .hero-two {
    grid-column: 2/-1;
  }
  .hero .hero-container .hero-two .row-two p {
    font-size: 1rem;
    width: 40vw;
  }
  .about .about_image {
    width: 30vw;
  }
  .about p {
    font-size: 3.5vw;
  }
  .about button {
    font-size: 0.5rem;
  }
  .brands .brands-after {
    top: 60%;
    width: 15vw;
    height: 30vw;
  }
  .brands .brand_image {
    width: 50vw;
  }
  .contact .contact_container {
    grid-template-columns: 1fr;
    gap: 4rem;
  }
  .links_logo {
    width: 30vw;
  }
  .links_logo img {
    width: 30vw;
  }
  .contact .links {
    grid-template-columns: repeat(2, 1fr);
    margin-left: 2rem;
  }
  .arabic .contact .links h4 {
    white-space: wrap;
  }
}
@media screen and (max-width: 496px) {
  .hero .hero-container .hero-two .row-one .col-one img:nth-child(1) {
    width: 110px;
  }
  .hero .hero-container .hero-two .row-three .col-one img {
    width: 16vw !important;
  }
  .hero .hero-container .hero-two .row-three .col-two img {
    width: 10vw !important;
  }
  .hero .hero-container {
    grid-template-columns: repeat(10, 1fr);
  }
  .hero .hero-container .hero-two .row-two h1 {
    font-size: 4.5vw;
  }
  .hero .hero-container .hero-two .row-two button {
    font-size: 0.5rem;
  }
  .hero .hero-container .hero-two .row-two p {
    width: 50vw;
  }
  .hero .hero-container .hero-one {
    grid-column: 1/7;
  }
  .hero .hero-container .hero-two {
    grid-column: 1/-1;
  }
  .about {
    padding: 5rem;
  }
  .about .header {
    display: flex;
    justify-content: center;
  }
  .about .about_content {
    flex-direction: column !important;
  }
  .about .about_image {
    width: 50vw;
  }
  .about p {
    width: 75vw;
    font-size: 5.5vw;
  }
  .about .about-before {
    bottom: -235px;
  }
  .about::after {
    height: 65px;
  }
  .brands .header {
    display: flex;
    justify-content: center;
  }
  .brands .brands-after {
    width: 18vw;
  }
  .contact .links {
    grid-template-columns: 1fr;
  }
  .contact .links h4 {
    font-size: 3.5vw;
  }
  .arabic .hero .hero-container .hero-two .row-two h1 {
    font-size: 7.5vw;
    margin-bottom: 2rem;
  }
}/*# sourceMappingURL=styles.css.map */