@use "./fonts";
@use "./vars";
@use "./anime";

$main-background: #e6e5e5;
$title-color: #8f181f;
$button-color: #2d4799;
$text-color: #6f3f00;

body {
  background-color: $main-background;
  overflow-x: hidden;

}

/* L O A D I N G   P A G E */

.loading {
  width: 100%;
  height: 100vh;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-color: $main-background;
  z-index: 999;
  &.loaded {
    opacity: 0;
    transition: opacity 0.7s ease-in-out;
  }

  svg,
  .loading_before img {
    width: 60vw;
  }
  svg .svg-elem-1 {
    fill: transparent;
    -webkit-transition: fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 0.8s;
    transition: fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 0.8s;
  }

  svg.active .svg-elem-1 {
    fill: rgb(0, 0, 0);
  }

  svg .svg-elem-2 {
    fill: transparent;
    -webkit-transition: fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 0.9s;
    transition: fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 0.9s;
  }

  svg.active .svg-elem-2 {
    fill: rgb(38, 83, 164);
  }

  svg .svg-elem-3 {
    fill: transparent;
    -webkit-transition: fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1s;
    transition: fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1s;
  }

  svg.active .svg-elem-3 {
    fill: rgb(38, 83, 164);
  }

  svg .svg-elem-4 {
    fill: transparent;
    -webkit-transition: fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.1s;
    transition: fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.1s;
  }

  svg.active .svg-elem-4 {
    fill: rgb(38, 83, 164);
  }

  svg .svg-elem-5 {
    fill: transparent;
    -webkit-transition: fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715)
      1.2000000000000002s;
    transition: fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715)
      1.2000000000000002s;
  }

  svg.active .svg-elem-5 {
    fill: rgb(38, 83, 164);
  }

  svg .svg-elem-6 {
    fill: transparent;
    -webkit-transition: fill 0.4s cubic-bezier(0.47, 0, 0.745, 0.715) 1.6s,
      transform 0.4s 1.6s;
    transition: fill 0.4s cubic-bezier(0.47, 0, 0.745, 0.715) 1.6s,
      transform 0.4s 1.6s;
    transform: rotate(45deg);
    transform-origin: 50% 50%;
  }

  svg.active .svg-elem-6 {
    fill: rgb(38, 83, 164);
    transform: rotate(0deg);
  }

  svg .svg-elem-7 {
    fill: transparent;
    -webkit-transition: fill 0.4s cubic-bezier(0.47, 0, 0.745, 0.715) 1.7s,
      transform 0.4s 1.7s;
    transition: fill 0.4s cubic-bezier(0.47, 0, 0.745, 0.715) 1.7s,
      transform 0.4s 1.7s;
    transform: rotate(45deg);
    transform-origin: 50% 50%;
  }

  svg.active .svg-elem-7 {
    fill: rgb(38, 83, 164);
    transform: rotate(0deg);
  }

  svg .svg-elem-8 {
    fill: transparent;
    -webkit-transition: fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.6s,
      transform 0.7s ease-in-out 1.6s;
    transition: fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.6s,
      transform 0.7s ease-in-out 1.6s;
    transform-origin: 50% 50%;
    transform: rotate(25deg) translate(-67px, -163px);
  }

  svg.active .svg-elem-8 {
    fill: rgb(38, 83, 164);
    transform: rotate(0deg) translate(0px, 0px);
  }

  svg .svg-elem-9 {
    fill: transparent;
    -webkit-transition: fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.7s,
      transform 0.7s ease-in-out 1.7s;
    transition: fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.7s,
      transform 0.7s ease-in-out 1.7s;
    transform-origin: 50% 50%;
    transform: rotate(-3deg) translate(1px, 25px);
  }

  svg.active .svg-elem-9 {
    fill: rgb(38, 83, 164);
    transform: rotate(0deg) translate(0px, 0px);
  }
  svg.active {
    transition: transform 0.7s ease-in-out 2.3s;
    transform: translateY(120px);
  }

  .loading_before {
    position: absolute;
    opacity: 0;
  }
  .loading_before.active {
    opacity: 1;
    transition: opacity 0.7s ease-in-out 2.4s;
  }
}


/*=============== SCROLL BAR ===============*/
::-webkit-scrollbar {
  width: 0.6rem;
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
  background-color: hsl(207, 4%, 75%);
}

::-webkit-scrollbar-thumb {
  background-color: hsl(207, 4%, 65%);
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
}
::-webkit-scrollbar-thumb:hover {
  background-color: hsl(207, 4%, 55%);
}

/* H E R O    S E C T I O N */



.hero {
  .hero-container {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    overflow: hidden;

    .hero-one,
    .hero-two {
      background-size: cover;
      grid-row: 1/2;
    }

    .hero-one {
      width: 100%;
      height: 100%;
      background-image: url("../images/hero_one.jpg");
      grid-column: 1/5;
      transition: 1s all;
    }
    .hero-two {
      position: relative;
      width: 100%;
      height: 100%;
      background-image: url("../images/hero_two.png");
      grid-column: 3/-1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .row-one {
        position: absolute;
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: repeat(10, 1fr);
        grid-template-rows: repeat(6, 1fr);
        .col-one {
          display: flex;
          flex-direction: column-reverse;
          grid-row: 2/3;
          grid-column: 2/3;
          img:nth-child(1) {
            width: 150px;
          }
          img:nth-child(2) {
            width: 70px;
            align-self: end;
          }
        }
        .col-two {
          grid-column: 9;
          grid-row: 2;

          img {
            width: 180px;
          }
        }
      }
      .row-three {
        position: absolute;
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: repeat(10, 1fr);
        grid-template-rows: repeat(6, 1fr);
        .col-one {
          display: flex;
          flex-direction: column-reverse;
          grid-row: 6;
          grid-column: 4;
          img {
            width: 200px;
          }
        }
        .col-two {
          display: flex;
          grid-column: 9;
          grid-row: 6;

          img:nth-child(1) {
            width: 80px;
            height: 80px;
            align-self: flex-end;
          }
          img:nth-child(2) {
            width: 180px;
          }
        }
      }

      .row-two {
        margin-left: 5vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        z-index: 2;

        h1 {
          font-size: 2.3rem;
          font-family: "Segoe";
          font-weight: bold;
          color: $title-color;
          margin-bottom: 1rem;
        }
        p {
          font-family: "Tajawal medium";
          font-size: 1.5rem;
          color: #fff;
          max-width: 450px;
          text-align: center;

        }
        button {
          font-size: 1rem;
          text-transform: uppercase;
          letter-spacing: 2px;
          background-color: $button-color;
          color: #fff;
          padding: 0.5rem 1rem;
          border: none;
          margin-top: 1rem;
          cursor: pointer;
        }
      }
    }
  }
}

.arabic .hero .hero-container .hero-two .row-two p{
  direction: rtl;
}

// <!---------- A B O U T    S E C T I O N ---------->

.about {
  padding: 10rem;
  position: relative;
  h1 {
    font-family: "Segoe";
    font-size: 3rem;
    font-weight: bold;
    color: $title-color;
    text-align: center;
  }

  .about_content {
    display: flex;
    flex-direction: row !important;
    justify-content: center;
    align-items: center;
    column-gap: 2rem;
  }

  .about_image {
    width: 400px;
    margin-top: 4rem;
    margin-bottom: 3rem;
  }

  p {
    font-family: "Tajawal light";
    font-size: 1.8rem;
    color: $text-color;
    width: 500px;
    margin-top: 3rem;
  }
  button {
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    background-color: $button-color;
    color: #fff;
    padding: 0.5rem 1rem;
    border: none;
    margin-top: 1rem;
    cursor: pointer;
  }

  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -200px;
    width: 100%;
    height: 180px;
    background-image: url("../images/line.png");
    background-size: cover;
  }
   .about-before {
    position: absolute;
    left: 0;
    bottom: -200px;
    width: 200px;
    height: 450px;
    background-size: cover;
    z-index: 2;
  }
}

// <!---------- B R A N D S    S E C T I O N ---------->

.brands {
  padding: 10rem;
  margin-top: 5rem;
  position: relative;
  overflow-x: hidden;
  h1 {
    font-family: "Segoe";
    font-size: 3rem;
    font-weight: bold;
    color: $title-color;
    text-align: center;
  }
  .brands_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 3rem;
    margin-top: 5rem;
  }
  .brand_image {
    width: 300px;
    height: auto;
  }

  .brands-after{
    position: absolute;
    right: 0;
    top: 50%;
    width: 200px;
    height: 350px;
    background-size: cover;

  }
}

// <!---------- C O N T A C T  U S    S E C T I O N ---------->

.contact {
  padding: 10rem 7rem 2rem;
  background-image: radial-gradient(
    circle,
    #dec3c4,
    #e0cbcc,
    #e2d4d4,
    #e4dcdd,
    #e6e5e5
  );
  .header h1 {
    font-family: "Segoe";
    font-size: 3rem;
    font-weight: bold;
    color: $title-color;
    text-align: center;
  }

  .contact_container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2rem;
    margin-top: 4rem;
    font-family: "Tajawal medium";
  }

  // form

  .contact_form-container {
  }

  .contact_form-header {
    text-align: center;
  }

  .contact_form {
    position: relative;
    display: grid;
    row-gap: 3rem;
  }

  .contact_form-item {
    height: 4rem;
    display: flex;
    flex-direction: column;
  }
  .contact_form-item.area {
    height: 13rem;
  }
  .contact_form-tag {
    margin-bottom: 0.5rem;
  }

  textarea {
    resize: none;
  }
  .contact_form-input {
    height: 100%;
    width: 100%;
    padding: 1.5rem;
    border: 2px solid #ccc;
    border-radius: 10px;
  }
  .contact_button {
    width: 150px;
    padding: 0.5rem;
    margin-top: 2rem;
    border: none;
    outline: none;
    background-color: $button-color;
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
    letter-spacing: 2px;
  }

  // links

  .contact_links {
    display: flex;
    flex-direction: column;
    row-gap: 3rem;
    justify-content: center;
    align-items: center;
  }

  .links {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;
    margin-left: 3rem;
    h4 {
      font-size: 0.8rem;
      white-space: nowrap;
      color: #2b2b2b;
    }
  }

  .link-item {
    display: flex;
    align-items: center;
    column-gap: 0.3rem;
    a {
      text-decoration: none;
      display: flex;
      align-items: center;
      column-gap: 0.3rem;
      color: #000;
    }
  }

  .link_image {
    width: 20px;
  }
}

.links_logo img{
  width: 200px;
}

// arabic pages

// main page
.arabic .row-two h1  {
  font-size: 3rem;
  font-family: "Tajawal medium";
}


.arabic :is(h1, h2, h3, h4, button, a) {
  font-family: "Tajawal medium" !important;
}

.arabic p {
  font-family: "Tajawal light";
  text-align: justify;
}

.arabic .links {
  margin-left: 0;
  margin-right: 5rem;
}

// media queries

@media screen and (max-width: 1200px) {
  .menu-items {
    column-gap: 1rem;
    padding: 2vw;
  }

  .hero .hero-container .hero-two .row-two h1 {
    font-size: 3.5vw;
  }
  .row-three .col-one {
    grid-column: 7 !important;
  }
  .row-three .col-one img {
    width: 20vw !important;
  }

  .hero .hero-container {
    grid-template-columns: repeat(6, 1fr);
  }
}

@media screen and (max-width: 991px) {
  .menu-items li {
    font-size: 2.3vw;
  }

  .menu-items {
    column-gap: 0.25rem;
    padding: 1rem;
  }

  .hero .hero-container .hero-two .row-two p {
    font-size: 1.2rem;
  }
  .hero .hero-container .hero-two .row-one .col-two img,
  .hero .hero-container .hero-two .row-three .col-two img:nth-child(2) {
    width: 15vw;
  }
  .hero .hero-container .hero-two .row-one .col-one {
    grid-column: 4;
  }
  .hero .hero-container .hero-two .row-three .col-one{
    grid-column: 8 !important;
  }

  .about .about_image{
    width: 35vw;
  }
  .about p{
    width: 50vw;
  }
  .about .about-before{
    width: 25vw;
    height: 55vw;
    bottom: -260px;
  }
  .about::after{
    height: 125px;
  }

  .brands .brands-after{
    top: 55%;
    width: 150px;
    height: 270px;
  }
  .contact{
    padding: 3rem 3rem 2rem;
  }

  .links_logo{
    width: 15vw;
  }
  .links_logo img{
    width: 20vw;
  }

  .contact .links{
    grid-template-columns: 1fr;
  }
}



@media screen and (max-width: 767px) {




  .hero .hero-container .hero-one {

    grid-column: 1/5;
  }

  .hero .hero-container .hero-two {

    grid-column: 2/-1;
  }

  .hero .hero-container .hero-two .row-two p {
    font-size: 1rem;
    width: 40vw;
  }

  .about .about_image{
    width: 30vw;
  }
  .about p{
    font-size: 3.5vw;
   
  }
  .about button {

    font-size: 0.5rem;
  }

   .brands .brands-after{
    top: 60%;
    width: 15vw;
    height: 30vw;
  }
  
  .brands .brand_image {
    width: 50vw;
  }

  .contact .contact_container{
    grid-template-columns: 1fr;
    gap: 4rem;
  }
  .links_logo{
    width: 30vw;
    img{
      width: 30vw;
    }
    
  }

  .contact .links{
    grid-template-columns: repeat(2,1fr);
    margin-left: 2rem;
  }


  .arabic .contact .links h4{
    white-space: wrap;
  }


}


@media screen and (max-width: 496px) {

  .loading svg{
    width: 80vw;
  }
  svg.active {
    transition: transform 0.7s ease-in-out 2.3s;
    transform: translateY(50px) !important;
  }


  .hero .hero-container .hero-two .row-one .col-one img:nth-child(1){
    width: 110px;
  }
  .hero .hero-container .hero-two .row-three .col-one img {
    width: 16vw !important;
  }
  .hero .hero-container .hero-two .row-three .col-two img {

    width: 10vw !important;


  }

  .hero .hero-container {
    grid-template-columns: repeat(10, 1fr);
}

.hero .hero-container .hero-two .row-two h1 {
  font-size: 4.5vw;
}
.hero .hero-container .hero-two .row-two button {

  font-size: 0.5rem;
}
.hero .hero-container .hero-two .row-two p {
  width: 50vw;
}
.hero .hero-container .hero-one {
  grid-column: 1/7;
}
.hero .hero-container .hero-two {
  grid-column: 1/-1;
}

.about{
  padding: 5rem;
}

.about .header{
  display: flex;
  justify-content: center;
}

.about .about_content{
  flex-direction: column !important;
}
.about .about_image{
  width: 50vw;
}
.about p {
  width: 75vw;
  font-size: 5.5vw;
  text-align: justify;
}
.about .about-before {
  bottom: -235px;
}
.about::after {
  height: 65px;
}

.brands .header{
  display: flex;
  justify-content: center;
}
.brands .brands-after{
  width: 18vw;
}
.contact .links{
  grid-template-columns: 1fr;
}
.contact .links h4 {

  font-size: 3.5vw;
}

.arabic .hero .hero-container .hero-two .row-two h1 {
  font-size: 7vw;
  margin-bottom: 2rem;
}



}


@media screen and (min-width: 1400px) {
  .about::after{
    height: 230px;
  }
}


